<%- include("header", {title: "Author Register"}) %>
    <% if(name) { %>
        <%- include("navbarDashboard", {name, role}) %>
    <% } %>
    <div class="container">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin: 60px auto;">
            <h1 class="fs-3">Add Article</h1>
            <% if(error) { %>
                <% let errors = error.split(",") %>
                <ol>
                    <% errors.forEach(el => { %>
                        <li style="color: red;"><%= el %></li>
                    <% }) %>
                </ol>
            <% } %>
            <form style="width: 50%;" action="/articles/add" method="post">

                <div class="form-group mb-2">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" id="title" placeholder="Enter title" name="title">
                </div>

                <div class="form-group mb-2">
                  <label for="body">Article</label>
                  <textarea class="form-control" id="biography" name="body" rows="3"></textarea>
                </div>

                <div class="form-group mb-2">
                    <label for="imageUrl">Image URL</label>
                    <input type="text" class="form-control" id="imageUrl" placeholder="Enter imageUrl" name="imageUrl">
                </div>
                
                <div class="form-group mb-2">
                    <label for="name">Category</label>
                    <select class="form-control" name="CategoryId">
                        <option selected disabled>--Select Category--</option>
                        <% data.forEach(el => { %>
                            <option value="<%= el.id %>"><%= el.name %></option>
                        <% }) %>
                    </select>
                </div>
                
                <input type="submit" value="Add Articles" class="btn btn-primary">
              </form>
        </div>
    </div>
    

<%- include("footer") %>